# Assignment

In [3]:
a="lajari"
b="sawant"
print(a)
a=30
print(a)
a=b
print(b)

lajari
30
sawant

## A few basic exercises
### Variable Assignment
* Try a program to display your name using a variable
* Try changing that variable in code itself to something else
* Try assiging one variable to other and changing one's value

In [ ]:
a= "name"
b= "surname"

# Write code to print the variable a 

############

# Write Code to Change variable a into 30

############

# Write Code to assign variable a the value of b

############

### Multiple Assignment

* Try Reversing the assignements i.e. new a should be 3, b should be 2 and c should be 1

In [4]:
a,b,c = 1,2,3

## write a single line code to reverse a,b,c using multiple assignment

######
print(a,b,c)

1 2 3

In [5]:
a,b,c=1,2,3
a,b,c=c,b,a
print(a,b,c)

3 2 1

### String

* Try reversing string in one line as compared to conventional loops

In [8]:
string = "this is a test!"

## Write Code to reverse string in one line

##

print(string)

this is a test!

In [13]:
string="this is a test!"
print(string[::-1])

!tset a si siht

# Operators

You are provided with a list of Clubs in VJTI:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC']
And a list of clubs you are a member of:
membership= ['SRA' , 'DSC']

You have to perform the following tasks:

1.   Create a boolean list respective to the clubs you are a member of without using the '==' operator:
Expected output: [true,false,false,true,false] HINT: use the membership operator

2.   Convert the boolean list into a list of binary one or zero without using the operator '=='. Expected output: [1,0,0,1,0]
HINT: Check out identity operator

In [18]:
clubs = ['SRA' , 'Aero' , 'Racing' , 'DSC' , 'COC'] 
membership= ['SRA' , 'DSC']
# Write your code here

In [21]:
w,x,y,z,t=['SRA','Aero','Racing','DSC','COC']
membership=['SRA','DSC']
print(w in membership)
print(x in membership)
print(y in membership)
print(z in membership)
print(t in membership)

True
False
False
True
False

In [45]:
w,x,y,z,t=['SRA','Aero','Racing','DSC','COC']
membership=['SRA','DSC']
bool_val1=True
bool_val2=False
a=int(bool_val1)
b=int(bool_val2)
print(a if w in membership else b)
print(a if x in membership else b)
print(a if y in membership else b)
print(a if z in membership else b)
print(a if t in membership else b)

1
0
0
1
0

You are provided with the following:
expression = 4_6_9_3_23_19
Using the operators: +,-,*, /, % in places of the _ make an expression that reads the value: 25.0.

In [9]:
expression = 4_6_9_3_23_19 
print(expression)



# write your code here

46932319

In [1]:
expression = 4*6-9/3+23-19 
print(expression)

25.0

# Control Statements

Complete the for loop such that whenever there is an prime number it prints the number plus "I was a prime" in the same line, otherwise it prints nothing.  


Using the looping statement and the control statements

In [2]:
for i in range(100):
  # Write Code here
    
  #Don't tamper the next line
  print("I was a prime")

In [8]:
lower = 0
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,"I was a prime")

Prime numbers between 0 and 100 are:
2 I was a prime
3 I was a prime
5 I was a prime
7 I was a prime
11 I was a prime
13 I was a prime
17 I was a prime
19 I was a prime
23 I was a prime
29 I was a prime
31 I was a prime
37 I was a prime
41 I was a prime
43 I was a prime
47 I was a prime
53 I was a prime
59 I was a prime
61 I was a prime
67 I was a prime
71 I was a prime
73 I was a prime
79 I was a prime
83 I was a prime
89 I was a prime
97 I was a prime

# Lists

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor  
**Sample Input** :['abc', 'xyz', 'aba', '1221']   
**Sample Output** :2  
**Explanation** :'aba' and '1221' have length greater than 2 and also has matching first and last character.

In [31]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

Write a Python program to print the numbers of a specified list after removing even numbers from it.  
**Hint** : Use List Comprehension

In [35]:
num = [64,35,85,63,25,76,59,82]
num = [x for x in num if x%2!=0]
print(num)

[35, 85, 63, 25, 59]

# Dictionaries

Delete set of keys (keysToRemove) from a dictionary and display the resultant dictionary  
**Given** : The "sampleDict" dictionary has already been defined in the below code .

**Expected Output**:
{'city': 'New york', 'age': 25}

In [ ]:
# Given Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

# remove the keys present in the list below from the dictionary 
keysToRemove = ["name", "salary"]

# Write your code here

In [37]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
del sampleDict["name"]
del sampleDict["salary"]
print(sampleDict)

{'age': 25, 'city': 'New york'}

Write a program in Python to read the admission number, name of student and his/her stream of 10 students and create a dictionary from this information. print the dictionary

In [39]:
student = {
  "student1":{
    "admission number": "2110321051",
    "name of student": "Apurva Bhoyar",
    "stream":"Electrical" 
  },
  "student2":{
      "admission number": "2110321015",
    "name of student": "Aditya Chavan",
    "stream":"Electronics" 
    
  },
    "student3":{
    "admission number": "211031025",
    "name of student": "Gaurang Sarvankar",
    "stream":"Mechanical" 
  },
    "student4":{
    "admission number": "211031053",
    "name of student": "Aakash Singh",
    "stream":"IT" 
  },
    "student5":{
    "admission number": "211031056",
    "name of student": "Renuka Sharma",
    "stream":"Civil" 
  },
    "student6":{
    "admission number": "211031071",
    "name of student": "Suman Tripathi",
    "stream":"CS" 
  },
    "student7":{
    "admission number": "211031046",
    "name of student": "Keyur Jain",
    "stream":"Textile" 
  },
    "student8":{
    "admission number": "211031059",
    "name of student": "Pranay Panchal",
    "stream":"ENTC" 
  },
    "student9":{
    "admission number": "211031177",
    "name of student": "Vedant Patil",
    "stream":"Chemical" 
  },
    "student10":{
    "admission number": "211031058",
    "name of student": "Khushi Singh",
    "stream":"Production" 
  },
}
print("student1 :",student["student1"])
print("student2 :",student["student2"])
print("student3 :",student["student3"])
print("student4 :",student["student4"])
print("student5 :",student["student5"])
print("student6 :",student["student6"])
print("student7 :",student["student7"])
print("student8 :",student["student8"])
print("student9 :",student["student9"])
print("student10 :",student["student10"])

student1 : {'admission number': '2110321051', 'name of student': 'Apurva Bhoyar', 'stream': 'Electrical'}
student2 : {'admission number': '2110321015', 'name of student': 'Aditya Chavan', 'stream': 'Electronics'}
student3 : {'admission number': '211031025', 'name of student': 'Gaurang Sarvankar', 'stream': 'Mechanical'}
student4 : {'admission number': '211031053', 'name of student': 'Aakash Singh', 'stream': 'IT'}
student5 : {'admission number': '211031056', 'name of student': 'Renuka Sharma', 'stream': 'Civil'}
student6 : {'admission number': '211031071', 'name of student': 'Suman Tripathi', 'stream': 'CS'}
student7 : {'admission number': '211031046', 'name of student': 'Keyur Jain', 'stream': 'Textile'}
student8 : {'admission number': '211031059', 'name of student': 'Pranay Panchal', 'stream': 'ENTC'}
student9 : {'admission number': '211031177', 'name of student': 'Vedant Patil', 'stream': 'Chemical'}
student10 : {'admission number': '211031058', 'name of student': 'Khushi Singh', 'stream': 'Production'}

# Sets and Tuples

Check if two sets have any elements in common. If yes, display the common elements.

set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}


**Expected output:**

Two sets have items in common

{10}

In [3]:
set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}

# Write your code here to get common elements among them

In [40]:
set1 = {10, 20, 30, 40, 50}

set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

Write a Python program to replace last value of tuples in a list.

**Sample list:** [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**Expected Output:** [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [2]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Write your code here to replace last value of tuples in the list

In [42]:
listl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in listl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

## Functions

1) Write a function called ```showNumbers``` that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:
* 0 EVEN
* 1 ODD
* 2 EVEN
* 3 ODD

In [3]:
def shownumber(limit):
    for i in range(0, limit):
        if i%2==0:
            print(i,end=" ")
            print("EVEN")

        else:
            print(i,end=" ")
            print("ODD")

print(shownumber(6))

0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD
None

2) Write a function that takes limit(integer) as a paramter and prints all the prime numbers between 0 and limit.

In [53]:
n=int(input("Enter the number till you want to check: "))
primes = []
for i in range (2, n+1):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        primes.append(i)
print(primes)

Enter the number till you want to check: 6
[2, 3, 5]

# Classes and Objects

Write a Python Program to create a class named **Student**. 
- It should be initialised with attributes like **name, age, rollno, favourite subject**(a single subject).

- Write a class method **getDetails()** which prints the name, age and rollno of the object in the below format.
 
  * **Expected Output Format**
> Name   : <em>name</em></br>
> Age    : <em>age</em></br>
> RollNo : <em>rollno</em></br>

  * **Expected Example Output**
> Name : Gautam</br>
Age : 20</br>
RollNo : 68

- Now, there is a list **fav_list** such that it contains a list of subjects which are favourite to the Principal.

  ``` python
    fav_list = ["EG","Mechanics","Chemistry"]
  ``` 
- You have to write a class Method **isFav()** which returns a boolean value i.e either <em>**true**</em> if any of the favourite subject of the principal matches with that of the student. Think of some suitable logic here.

- Create 2 objects of class **Student** with attributes of your choice taken via user input.

- Call Both the methods for both the objects. **Note** - Print the result of the **isFav()** method.

- **Bonus Task** - Write the body of **isFav()** method in just one line.